<div class="row">
  <div class="col-2 pt-2">{{inPerson.id}}
  </div>
  <div class="col-3 pt-2">{{inPerson.firstname}}
  </div>
  <div class="col-3 pt-2">{{inPerson.lastname}}
  </div>
  <div class="col-2 pt-2">{{inPerson.phone}}
  </div>
  <div class="col-2">
    <div class="btn-group m-1">
      <a [routerLink]="['/edit', inPerson.id]">
        <button class="btn btn-primary">Edit</button>
      </a>
      <button class="btn btn-danger" (click)="on_del_person()">Del</button>
    </div>
  </div>
  <form [formGroup]="editForm">
    <div class="row mt-2" *ngIf="edit_flag">
      <div class="col-4">
        <input type="text" formControlName="firstname" class="form-control" placeholder="First Name">
      </div>
      <div class="col-4">

        <input type="text" formControlName="lastname" class="form-control" placeholder="Last Name">
      </div>
      <div class="col-2">

        <input type="text" type="text" mask="(000) 000-0000" prefix="+7" [showMaskTyped]="true" formControlName="phone" class="form-control">
      </div>

      <div class="col-2"><!--inputFirstname.value, inputLastname.value, inputPhone.value-->
        <button [disabled]="editForm.invalid" class="btn btn-primary" (click)="on_edit_person()">Save</button>
      </div>
    </div>
  </form>
</div>
<!--<div class="container">-->
<!--</div>-->
